xml/input.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified">

    <xs:element name="roadNetwork">
        <xs:complexType mixed="true"> 
            <xs:sequence>
                <xs:element name="segments" type="segmentsType"/>
                <xs:element name="interfaces" type="interfacesType" minOccurs="0"/>
                <xs:element name="closeRoadNetwork" type="closeRoadNetworkType" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="lang" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="segmentsType">
        <xs:sequence>
            <xs:element name="junctions" type="junctionsType" minOccurs="0"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="roundabout" type="roundaboutType" />
                <xs:element name="connectingRoad" type="connectingRoadType" /> 
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="junctionsType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="tjunction" type="tjunctionType" />
            <xs:element name="xjunction" type="xjunctionType" />
            <xs:element name="njunction" type="njunctionType" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="tjunctionType">
        <xs:sequence>
            <xs:element name="road" type="roadType" minOccurs="2" maxOccurs="unbounded"/>
            <xs:element name="intersectionPoint" type="intersectionPointType"/>
            <xs:element name="coupler" type="couplerType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="optional"/>
        <xs:attribute name="type" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="xjunctionType">
        <xs:sequence>
            <xs:element name="road" type="roadType" minOccurs="2" maxOccurs="unbounded"/>
            <xs:element name="intersectionPoint" type="intersectionPointType"/>
            <xs:element name="coupler" type="couplerType"/>
        </xs:sequence>        
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="type" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="njunctionType">
        <xs:sequence>
            <xs:element name="road" type="roadType" minOccurs="2" maxOccurs="unbounded"/>
            <xs:element name="intersectionPoint" type="intersectionPointType"/>
            <xs:element name="coupler" type="couplerType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:complexType name="roundaboutType">
        <xs:sequence>
            <xs:element name="road" type="roadType" minOccurs="2" maxOccurs="unbounded"/>
            <xs:choice minOccurs="2" maxOccurs="unbounded" >
                <xs:element name="intersectionPoint" type="intersectionPointType" />
                <xs:element name="coupler" type="couplerRoundAboutType" />
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="refId" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:complexType name="connectingRoadType">
        <xs:sequence>
            <xs:element name="road" type="roadType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:complexType name="roadType">
        <xs:sequence>
            <xs:element name="referenceLine" type="referenceLineType"/>
            <xs:element name="elevationProfile" type="elevationProfileType" minOccurs="0"/>
            <xs:element name="lateralProfile" type="lateralProfileType" minOccurs="0"/>
            <xs:element name="lanes" type="lanesType" minOccurs="0"/>
            <xs:element name="objects" type="objectsType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="length" type="xs:double" use="required"/>
        <xs:attribute name="type" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="referenceLineType">
        <xs:sequence>
            <xs:element name="geometry" type="geometryType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="geometryType">
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="length" type="xs:double" use="required"/>
        <xs:attribute name="connectToEndOf" type="xs:string" use="optional"/>
        <xs:attribute name="connectToStartOf" type="xs:string" use="optional"/>
        <xs:attribute name="type" type="xs:string" use="required"/>
        <xs:attribute name="R" type="xs:double"/>
        <xs:attribute name="Rs" type="xs:double"/>
        <xs:attribute name="Re" type="xs:double"/>
    </xs:complexType>

    <xs:complexType name="elevationProfileType">
        <xs:sequence>
            <xs:element name="elevationPoint" type="elevationPointType"    minOccurs="2" maxOccurs="unbounded"/>
            <xs:element name="elevationRadius" type="elevationRadiusType"    minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="elevationPointType">
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="s" type="xs:double" use="required"/>
        <xs:attribute name="z" type="xs:double" use="required"/>
    </xs:complexType>

    <xs:complexType name="elevationRadiusType">
        <xs:attribute name="pointId" type="xs:string" use="required"/>
        <xs:attribute name="R" type="xs:double" use="required"/>
    </xs:complexType>

    <xs:complexType name="lateralProfileType">
        <xs:sequence>
            <xs:element name="lateralPoint" type="lateralPointType"          minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="s" type="xs:double" use="required"/>
        <xs:attribute name="degree" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:complexType name="lateralPointType">
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="t" type="xs:double" use="required"/>
        <xs:attribute name="h" type="xs:double" use="required"/>
        <xs:attribute name="gradient" type="xs:double" use="required"/>
    </xs:complexType>

    <xs:complexType name="lanesType">
        <xs:sequence>
            <xs:element name="laneSection" type="laneSectionType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="laneWidening" type="laneWideningType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="laneDrop" type="laneDropType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="laneSectionType">
        <xs:sequence>
            <xs:element name="lane" type="laneType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="s" type="xs:double" use="required"/>
    </xs:complexType>

    <xs:complexType name="laneType">
        <xs:sequence>
            <xs:element name="roadMark" type="roadMarkType" minOccurs="0"/>
            <xs:element name="material" type="materialType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="type" type="xs:string" use="required"/>        
        <xs:attribute name="width" type="xs:double" use="optional"/>        
    </xs:complexType>

    <xs:complexType name="laneWideningType">
        <xs:sequence>
            <xs:element name="restrictedArea" type="restrictedAreaType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="lane" type="xs:int" use="required"/>      
        <xs:attribute name="sOffset" type="xs:double" use="required"/>      
        <xs:attribute name="ds1" type="xs:double" use="required"/>        
    </xs:complexType>

    <xs:complexType name="restrictedAreaType">
        <xs:sequence>
            <xs:element name="changeMark" type="changeMarkType"/>
        </xs:sequence>
        <xs:attribute name="signNumber" type="xs:int" use="required"/>        
        <xs:attribute name="sOffset" type="xs:double" use="required"/>        
        <xs:attribute name="ds2" type="xs:double" use="required"/>  
    </xs:complexType>

    <xs:complexType name="changeMarkType">
        <xs:attribute name="angle" type="xs:double" use="required"/>        
        <xs:attribute name="color" type="xs:string" use="required"/>        
        <xs:attribute name="width" type="xs:double" use="required"/>        
        <xs:attribute name="spaceBetweeen" type="xs:double" use="required"/>   
        <xs:attribute name="spaceToSolid" type="xs:double" use="required"/>    
    </xs:complexType>

    <xs:complexType name="laneDropType">
        <xs:sequence>
            <xs:element name="restrictedArea" type="restrictedAreaType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="lane" type="xs:int" use="required"/>      
        <xs:attribute name="sOffset" type="xs:double" use="required"/>    
        <xs:attribute name="ds1" type="xs:double" use="required"/>    
    </xs:complexType>

    <xs:complexType name="roadMarkType">
        <xs:attribute name="type" type="xs:string" use="required"/>    
        <xs:attribute name="color" type="xs:string" use="required"/>    
        <xs:attribute name="width" type="xs:double" use="required"/>    
    </xs:complexType>

    <xs:complexType name="materialType">
        <xs:attribute name="sOffset" type="xs:double" use="required"/>    
        <xs:attribute name="surface" type="xs:string" use="required"/>    
        <xs:attribute name="friction" type="xs:double" use="required"/>    
        <xs:attribute name="roughness" type="xs:double" use="required"/>    
    </xs:complexType>

    <xs:complexType name="intersectionPointType">
        <xs:sequence>
            <xs:element name="adRoad" type="adRoadType" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="refId" type="xs:int" use="required"/>
        <xs:attribute name="s" type="xs:double" use="required"/>    
    </xs:complexType>

    <xs:complexType name="adRoadType">
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="s" type="xs:double" use="required"/>
        <xs:attribute name="angle" type="xs:double" use="required"/>
    </xs:complexType>

    <xs:complexType name="couplerType">
        <xs:sequence>
            <xs:element name="couplerArea" type="couplerAreaType"/>
            <xs:element name="connection" type="connectionType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:complexType name="couplerRoundAboutType">
        <xs:sequence>
            <xs:element name="couplerArea" type="couplerAreaType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:complexType name="couplerAreaType">
        <xs:sequence>
            <xs:element name="streetBorder" type="streetBorderType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="sOffset" type="xs:double" use="required"/>   
    </xs:complexType>

    <xs:complexType name="streetBorderType">
        <xs:sequence>
            <xs:element name="laneBorder" type="laneBorderType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>   
        <xs:attribute name="sOffset" type="xs:double" use="required"/>   
    </xs:complexType>

    <xs:complexType name="laneBorderType">
        <xs:attribute name="laneId" type="xs:int" use="required"/>   
        <xs:attribute name="sOffset" type="xs:double" use="required"/>   
    </xs:complexType>

    <xs:complexType name="connectionType">
        <xs:sequence>
            <xs:element name="roadLink" type="roadLinkType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="type" type="xs:string" use="required"/>   
    </xs:complexType>

    <xs:complexType name="roadLinkType">
        <xs:sequence>
            <xs:element name="laneLink" type="laneLinkType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
            <xs:attribute name="fromId" type="xs:int" use="required"/>
            <xs:attribute name="toId"  type="xs:int" use="required"/>
    </xs:complexType>

    <xs:complexType name="laneLinkType">
        <xs:attribute name="fromId" type="xs:int" use="required"/>
        <xs:attribute name="toId" type="xs:int" use="required"/>
        <xs:attribute name="minR" type="xs:double" use="optional"/>
        <xs:attribute name="left" type="xs:string" use="optional"/>
        <xs:attribute name="right" type="xs:string" use="optional"/>
        <xs:attribute name="middle" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="objectsType">
        <xs:sequence>
            <xs:element name="trafficRule" type="trafficRulesType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="marking" type="markingsType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="streetLamp" type="streetLampType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="roadWork" type="roadworksType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="busStop" type="busStopsType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="parkingSpace" type="parkingSpaceType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="trafficIsland" type="trafficIslandType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="absoluteType">
        <xs:attribute name="x" type="xs:double" use="required"/>
        <xs:attribute name="y" type="xs:double" use="required"/>
        <xs:attribute name="z" type="xs:double" use="required"/>
        <xs:attribute name="hdg" type="xs:double" use="required"/>
    </xs:complexType>

    <xs:complexType name="relativeType">
        <xs:attribute name="s" type="xs:double" use="required"/>
        <xs:attribute name="t" type="xs:double" use="required"/>
        <xs:attribute name="z" type="xs:double" use="required"/>
        <xs:attribute name="hdg" type="xs:double" use="required"/>
    </xs:complexType>

    <xs:complexType name="repeatType">
        <xs:attribute name="s" type="xs:double" use="required"/>
        <xs:attribute name="t" type="xs:double" use="required"/>
        <xs:attribute name="z" type="xs:double" use="required"/>
        <xs:attribute name="hdg" type="xs:double" use="required"/>
        <xs:attribute name="length" type="xs:double" use="required"/>
    </xs:complexType>

    <xs:complexType name="trafficRulesType">
        <xs:sequence>
            <xs:element name="signal" type="signalType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:complexType name="markingsType">
        <xs:choice>
            <xs:element name="absolutePosition" type="absoluteType" />
            <xs:element name="relativePosition" type="relativeType" />
            <xs:element name="repeatPosition" type="repeatType" />
        </xs:choice>
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="signNumber" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:complexType name="signalType">
        <xs:sequence>
                <xs:element name="relativePosition" type="relativeType" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="type" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:double" use="required"/>
        <xs:attribute name="dynamic" type="xs:boolean" use="required"/>
    </xs:complexType>

    <xs:complexType name="streetLampType">
        <xs:choice>
            <xs:element name="absolutePosition" type="absoluteType" />
            <xs:element name="relativePosition" type="relativeType" />
            <xs:element name="repeatPosition" type="repeatType" />
        </xs:choice>
        <xs:attribute name="id" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:complexType name="roadworksType">
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="s" type="xs:double" use="required"/>
        <xs:attribute name="length" type="xs:double" use="required"/>
        <xs:attribute name="laneId" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:complexType name="busStopsType">
        <xs:choice>
            <xs:element name="absolutePosition" type="absoluteType" />
            <xs:element name="relativePosition" type="relativeType" />
            <xs:element name="repeatPosition" type="repeatType" />
        </xs:choice>
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="type" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="parkingSpaceType">
        <xs:choice>
            <xs:element name="absolutePosition" type="absoluteType" />
            <xs:element name="relativePosition" type="relativeType" />
            <xs:element name="repeatPosition" type="repeatType" />
        </xs:choice>
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="width" type="xs:double" use="required"/>
        <xs:attribute name="length" type="xs:double" use="required"/>
    </xs:complexType>

    <xs:complexType name="trafficIslandType">
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="s" type="xs:double" use="required"/>
        <xs:attribute name="length" type="xs:double" use="required"/>
        <xs:attribute name="width" type="xs:double" use="required"/>
    </xs:complexType>

    <xs:complexType name="interfacesType">
        <xs:sequence>
            <xs:element name="segmentLink" type="segmentLinkType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="referenceId" type="xs:int" use="required"/>
        <xs:attribute name="angleOffset" type="xs:double" use="required"/>
        <xs:attribute name="xOffset" type="xs:double" use="required"/>
        <xs:attribute name="yOffset" type="xs:double" use="required"/>
    </xs:complexType>

    <xs:complexType name="segmentLinkType">
        <xs:attribute name="fromSegment" type="xs:int" use="required"/>
        <xs:attribute name="toSegment"  type="xs:int" use="required"/>
        <xs:attribute name="fromRoad"  type="xs:int" use="required"/>
        <xs:attribute name="toRoad"  type="xs:int" use="required"/>
        <xs:attribute name="fromPos"  type="xs:string" use="required"/>
        <xs:attribute name="toPos"  type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="closeRoadNetworkType">
        <xs:sequence>
            <xs:element name="segmentLink" type="segmentLinkType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>