xml/input.xsd

<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="xs3p.xsl"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified">

    <xs:element name="roadNetwork">
        <xs:annotation>
            <xs:documentation>
                Main Element:
                    segments: junction, roundabout or connecting road
                    links: for joining two segments
                    closeRoads: for connecting two segments automatically 
            </xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true"> 
            <xs:sequence>
                <xs:element name="segments" type="segmentsType"/>
                <xs:element name="links" type="linksType" minOccurs="0"/>
                <xs:element name="closeRoads" type="closeRoadsType" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="segmentsType">
        <xs:annotation>
            <xs:documentation>
                Element:
                    junction: 
                    roundabout: 
                    connectingRoad: 
            </xs:documentation>
        </xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="junction" type="junctionType" />
            <xs:element name="roundabout" type="roundaboutType" />
            <xs:element name="connectingRoad" type="connectingRoadType" /> 
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="junctionType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="road" type="roadType" minOccurs="2" maxOccurs="unbounded"/>
            <xs:element name="intersectionPoint" type="intersectionPointType"/>
            <xs:element name="coupler" type="couplerType" minOccurs="0"/>
            <xs:element name="automaticWiding" type="automaticWidingType" minOccurs="0"/>
    </xs:sequence>
        <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="type" type="junctionTypeType" use="required"/>
    </xs:complexType>

    <xs:simpleType name="junctionTypeType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="3A"/>
          <xs:enumeration value="MA"/>
          <xs:enumeration value="2M"/>
          <xs:enumeration value="M2A"/>
          <xs:enumeration value="4A"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="roundaboutType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="circle" type="roadTypeRoundAbout" />
            <xs:element name="road" type="roadType" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="intersectionPoint" type="intersectionPointType" minOccurs="1" maxOccurs="unbounded" />
            <xs:element name="coupler" type="couplerRoundAboutType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
    </xs:complexType>

    <xs:complexType name="connectingRoadType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="road" type="roadType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
    </xs:complexType>

    <xs:complexType name="roadType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="referenceLine" type="referenceLineType"/>
            <xs:element name="lanes" type="lanesType" minOccurs="0"/>
            <xs:element name="objects" type="objectsType" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="classification" type="classificationType" use="required"/>
    </xs:complexType>

    <xs:complexType name="roadTypeRoundAbout">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="referenceLine" type="referenceLineTypeRoundAbout"/>
            <xs:element name="lanes" type="lanesType" minOccurs="0"/>
            <xs:element name="objects" type="objectsType" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="classification" type="classificationType" use="required"/>
    </xs:complexType>

    <xs:simpleType name="classificationType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="main"/>
          <xs:enumeration value="access"/>
        </xs:restriction>
      </xs:simpleType>

    <xs:complexType name="referenceLineType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="line" type="lineType"/>
            <xs:element name="spiral" type="spiralType"/>
            <xs:element name="arc" type="arcType"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="referenceLineTypeRoundAbout">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="circle" type="circleType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="lineType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="length" type="positiveDouble" use="required"/>
    </xs:complexType>

    <xs:complexType name="spiralType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="length" type="positiveDouble" use="required"/>
        <xs:attribute name="Rs" type="xs:double" use="required"/>
        <xs:attribute name="Re" type="xs:double" use="required"/>
    </xs:complexType>

    <xs:complexType name="arcType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="length" type="positiveDouble" use="required"/>
        <xs:attribute name="R" type="xs:double" use="required"/>
    </xs:complexType>

    <xs:complexType name="circleType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="length" type="positiveDouble" use="required"/>
    </xs:complexType>

    <xs:complexType name="automaticWidingType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="active" type="activeType" use="required"/>
        <xs:attribute name="s" type="xs:double" use="optional"/>
        <xs:attribute name="length" type="positiveDouble" use="optional"/>
    </xs:complexType>

    <xs:complexType name="lanesType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="laneSection" type="laneSectionType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="laneWidening" type="laneWideningType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="laneDrop" type="laneDropType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="laneSectionType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="lane" type="laneType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="s" type="xs:double" use="required"/>
    </xs:complexType>

    <xs:complexType name="laneType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="roadMark" type="roadMarkType" minOccurs="0"/>
            <xs:element name="material" type="materialType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="type" type="laneTypeType" use="optional"/>        
        <xs:attribute name="width" type="positiveDouble" use="optional"/>        
        <xs:attribute name="speed" type="positiveDouble" use="optional"/>        
    </xs:complexType>

    <xs:simpleType name="laneTypeType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="driving"/>
          <xs:enumeration value="restricted"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="delete"/>
        </xs:restriction>
      </xs:simpleType>

    <xs:complexType name="laneWideningType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="restrictedArea" type="restrictedAreaType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="laneId" type="xs:int" use="required"/>      
        <xs:attribute name="s" type="xs:double" use="required"/>      
        <xs:attribute name="length" type="positiveDouble" use="optional"/>        
    </xs:complexType>

    <xs:complexType name="laneDropType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="restrictedArea" type="restrictedAreaType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="laneId" type="xs:int" use="required"/>      
        <xs:attribute name="s" type="xs:double" use="required"/>    
        <xs:attribute name="length" type="positiveDouble" use="optional"/>    
    </xs:complexType>

    <xs:complexType name="restrictedAreaType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="length" type="positiveDouble" use="optional"/>  
    </xs:complexType>

    <xs:complexType name="roadMarkType">
        <xs:attribute name="type" type="roadMarkTypeType" use="optional"/>    
        <xs:attribute name="color" type="colorType" use="optional"/>    
        <xs:attribute name="width" type="positiveDouble" use="optional"/>    
    </xs:complexType>

    <xs:simpleType name="roadMarkTypeType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="solid"/>
          <xs:enumeration value="broken"/>
          <xs:enumeration value="none"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="colorType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="standard"/>
          <xs:enumeration value="blue"/>
          <xs:enumeration value="green"/>
          <xs:enumeration value="red"/>
          <xs:enumeration value="white"/>
          <xs:enumeration value="yellow"/>
          <xs:enumeration value="orange"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="materialType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="surface" type="xs:string" use="optional"/>    
        <xs:attribute name="friction" type="positiveDouble" use="optional"/>    
        <xs:attribute name="roughness" type="positiveDouble" use="optional"/>    
    </xs:complexType>

    <xs:complexType name="intersectionPointType">
        <xs:annotation>
            <xs:documentation>
                Element:
                only the first 2 / 3 / 4 are considered
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="adRoad" type="adRoadType" maxOccurs="4"/>
        </xs:sequence>
        <xs:attribute name="refRoad" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="s" type="xs:double" use="required"/>    
    </xs:complexType>

    <xs:complexType name="adRoadType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="s" type="xs:double" use="required"/>
        <xs:attribute name="angle" type="xs:double" use="required"/>
    </xs:complexType>

    <xs:complexType name="couplerType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="junctionArea" type="junctionAreaType" minOccurs="0"/>
            <xs:element name="connection" type="connectionType" minOccurs="0"/>
            <xs:element name="additionalLanes" type="additionalLanesType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="couplerRoundAboutType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="junctionArea" type="junctionAreaType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="junctionAreaType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="roadBorder" type="roadBorderType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="s" type="xs:double" use="required"/>   
    </xs:complexType>

    <xs:complexType name="roadBorderType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="id" type="xs:positiveInteger" use="required"/>   
        <xs:attribute name="s" type="xs:double" use="required"/>   
    </xs:complexType>

    <xs:complexType name="connectionType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="roadLink" type="roadLinkType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="type" type="connectionTypeType" use="required"/>   
    </xs:complexType>

    <xs:simpleType name="connectionTypeType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="all"/>
          <xs:enumeration value="single"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="roadLinkType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="laneLink" type="laneLinkType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
            <xs:attribute name="fromId" type="xs:positiveInteger" use="required"/>
            <xs:attribute name="toId"  type="xs:positiveInteger" use="required"/>
    </xs:complexType>

    <xs:complexType name="laneLinkType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="fromId" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="toId" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="left" type="roadMarkTypeType" use="optional"/>
        <xs:attribute name="right" type="roadMarkTypeType" use="optional"/>
        <xs:attribute name="middle" type="roadMarkTypeType" use="optional"/>
    </xs:complexType>

    <xs:complexType name="additionalLanesType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="additionalLane" type="additionalLaneType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="leftRight">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="left"/>
            <xs:enumeration value="right"/>
            <xs:enumeration value="leftRestricted"/>
            <xs:enumeration value="rightRestricted"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="additionalLaneType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="roadId" type="xs:positiveInteger" use="required"/>   
        <xs:attribute name="type" type="leftRight" use="required"/>   
        <xs:attribute name="length" type="positiveDouble" use="optional"/>   
        <xs:attribute name="ds" type="positiveDouble" use="optional"/>   
        <xs:attribute name="amount" type="xs:positiveInteger" use="optional"/>   
        <xs:attribute name="verschwenkung" type="xs:boolean" use="optional"/>   
    </xs:complexType> 

    <xs:complexType name="objectsType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="trafficRule" type="trafficRuleType" />
            <xs:element name="streetLamp" type="streetLampType" />
            <xs:element name="roadWork" type="roadworkType" />
            <xs:element name="busStop" type="busStopType" />
            <xs:element name="parkingSpace" type="parkingSpaceType" />
            <xs:element name="trafficIsland" type="trafficIslandType" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="relativeType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="s" type="xs:double" use="required"/>
        <xs:attribute name="t" type="xs:double" use="required"/>
        <xs:attribute name="z" type="xs:double" use="required"/>
        <xs:attribute name="hdg" type="xs:double" use="required"/>
    </xs:complexType>

    <xs:complexType name="repeatType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="s" type="xs:double" use="required"/>
        <xs:attribute name="t" type="xs:double" use="required"/>
        <xs:attribute name="z" type="xs:double" use="required"/>
        <xs:attribute name="hdg" type="xs:double" use="required"/>
        <xs:attribute name="length" type="positiveDouble" use="required"/>
    </xs:complexType>

    <xs:complexType name="trafficRuleType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="signal" type="signalType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
    </xs:complexType>

    <xs:complexType name="signalType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="relativePosition" type="relativeType"/>
        </xs:sequence>
        <xs:attribute name="type" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:double" use="required"/>
        <xs:attribute name="dynamic" type="xs:boolean" use="required"/>
    </xs:complexType>

    <xs:complexType name="streetLampType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="relativePosition" type="relativeType" />
            <xs:element name="repeatPosition" type="repeatType" />
        </xs:choice>
        <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
    </xs:complexType>

    <xs:complexType name="roadworkType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="s" type="xs:double" use="required"/>
        <xs:attribute name="length" type="positiveDouble" use="required"/>
        <xs:attribute name="laneId" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:complexType name="busStopType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="relativePosition" type="relativeType" />
        </xs:choice>
        <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
    </xs:complexType>

    <xs:complexType name="parkingSpaceType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="relativePosition" type="relativeType" />
            <xs:element name="repeatPosition" type="repeatType" />
        </xs:choice>
        <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="length" type="positiveDouble" use="required"/>
        <xs:attribute name="width" type="positiveDouble" use="required"/>
    </xs:complexType>

    <xs:complexType name="trafficIslandType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="s" type="xs:double" use="required"/>
        <xs:attribute name="length" type="positiveDouble" use="required"/>
        <xs:attribute name="width" type="positiveDouble" use="required"/>
    </xs:complexType>

    <xs:complexType name="linksType">
        <xs:annotation>
            <xs:documentation>
                    assumption: from segment is already linked to reference segment
                    Element:
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="segmentLink" type="segmentLinkType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="refId" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="xOffset" type="xs:double" use="required"/>
        <xs:attribute name="yOffset" type="xs:double" use="required"/>
        <xs:attribute name="hdgOffset" type="xs:double" use="required"/>
    </xs:complexType>

    <xs:complexType name="closeRoadsType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>            
        <xs:sequence>
            <xs:element name="segmentLink" type="segmentLinkType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="segmentLinkType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
       <xs:attribute name="fromSegment" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="toSegment" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="fromRoad" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="toRoad" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="fromPos" type="posType" use="required"/>
        <xs:attribute name="toPos" type="posType" use="required"/>
    </xs:complexType>

    <xs:simpleType name="posType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
       <xs:restriction base="xs:string">
          <xs:enumeration value="start"/>
          <xs:enumeration value="end"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="positiveDouble">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
       <xs:restriction base="xs:double">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="activeType">
        <xs:annotation>
            <xs:documentation>
                Element:
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="none"/>
          <xs:enumeration value="all"/>
          <xs:enumeration value="main"/>
          <xs:enumeration value="access"/>
        </xs:restriction>
      </xs:simpleType>

</xs:schema>
