xml/input.xsd

<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="xs3p.xsl"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified">

    <xs:element name="roadNetwork">
        <xs:annotation>
            <xs:documentation>This is the main element containing segments, .</xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true"> 
            <xs:sequence>
                <xs:element name="segments" type="segmentsType"/>
                <xs:element name="links" type="linksType" minOccurs="0"/>
                <xs:element name="closeRoads" type="closeRoadsType" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="segmentsType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="junction" type="junctionType" />
            <xs:element name="roundabout" type="roundaboutType" />
            <xs:element name="connectingRoad" type="connectingRoadType" /> 
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="junctionType">
        <xs:sequence>
            <xs:element name="road" type="roadType" minOccurs="2" maxOccurs="unbounded"/>
            <xs:element name="intersectionPoint" type="intersectionPointType"/>
            <xs:element name="coupler" type="couplerType" minOccurs="0"/>
            <xs:element name="automaticWiding" type="automaticWidingType" minOccurs="0"/>
    </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="optional"/>
        <xs:attribute name="type" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="roundaboutType">
        <xs:sequence>
            <xs:element name="circle" type="roadTypeRoundAbout" />
            <xs:element name="road" type="roadType" minOccurs="1" maxOccurs="unbounded"/>
            <xs:sequence>
                <xs:element name="intersectionPoint" type="intersectionPointType" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:element name="coupler" type="couplerRoundAboutType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:complexType name="connectingRoadType">
        <xs:sequence>
            <xs:element name="road" type="roadType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:complexType name="roadType">
        <xs:sequence>
            <xs:element name="referenceLine" type="referenceLineType"/>
            <xs:element name="lanes" type="lanesType" minOccurs="0"/>
            <xs:element name="objects" type="objectsType" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="classification" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="roadTypeRoundAbout">
        <xs:sequence>
            <xs:element name="referenceLine" type="referenceLineTypeRoundAbout"/>
            <xs:element name="lanes" type="lanesType" minOccurs="0"/>
            <xs:element name="objects" type="objectsType" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="classification" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="referenceLineType">
        <xs:sequence>
            <xs:element name="geometry" type="geometryType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="referenceLineTypeRoundAbout">
        <xs:sequence>
            <xs:element name="geometry" type="geometryTypeRoundAbout" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="geometryType">
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="length" type="xs:double" use="required"/>
        <xs:attribute name="type" type="xs:string" use="required"/>
        <xs:attribute name="R" type="xs:double"/>
        <xs:attribute name="Rs" type="xs:double"/>
        <xs:attribute name="Re" type="xs:double"/>
    </xs:complexType>

    <xs:complexType name="geometryTypeRoundAbout">
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="length" type="xs:double" use="required"/>
        <xs:attribute name="type" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="automaticWidingType">
        <xs:attribute name="active" type="xs:boolean" use="optional"/>
        <xs:attribute name="s" type="xs:double" use="optional"/>
        <xs:attribute name="length" type="xs:double" use="optional"/>
    </xs:complexType>

    <xs:complexType name="lanesType">
        <xs:sequence>
            <xs:element name="laneSection" type="laneSectionType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="laneWidening" type="laneWideningType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="laneDrop" type="laneDropType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="laneSectionType">
        <xs:sequence>
            <xs:element name="lane" type="laneType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="s" type="xs:double" use="required"/>
    </xs:complexType>

    <xs:complexType name="laneType">
        <xs:sequence>
            <xs:element name="roadMark" type="roadMarkType" minOccurs="0"/>
            <xs:element name="material" type="materialType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="type" type="xs:string" use="required"/>        
        <xs:attribute name="width" type="xs:double" use="optional"/>        
    </xs:complexType>

    <xs:complexType name="laneWideningType">
        <xs:sequence>
            <xs:element name="restrictedArea" type="restrictedAreaType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="lane" type="xs:int" use="required"/>      
        <xs:attribute name="s" type="xs:double" use="required"/>      
        <xs:attribute name="length" type="xs:double" use="required"/>        
    </xs:complexType>

    <xs:complexType name="laneDropType">
        <xs:sequence>
            <xs:element name="restrictedArea" type="restrictedAreaType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="lane" type="xs:int" use="required"/>      
        <xs:attribute name="s" type="xs:double" use="required"/>    
        <xs:attribute name="length" type="xs:double" use="required"/>    
    </xs:complexType>

    <xs:complexType name="restrictedAreaType">
        <xs:attribute name="s" type="xs:double" use="required"/>        
        <xs:attribute name="length" type="xs:double" use="required"/>  
    </xs:complexType>

    <xs:complexType name="roadMarkType">
        <xs:attribute name="type" type="xs:string" use="required"/>    
        <xs:attribute name="color" type="xs:string" use="optional"/>    
        <xs:attribute name="width" type="xs:double" use="optional"/>    
    </xs:complexType>

    <xs:complexType name="materialType">
        <xs:attribute name="surface" type="xs:string" use="required"/>    
        <xs:attribute name="friction" type="xs:double" use="required"/>    
        <xs:attribute name="roughness" type="xs:double" use="required"/>    
    </xs:complexType>

    <xs:complexType name="intersectionPointType">
        <xs:sequence>
            <xs:annotation>
                <xs:documentation>
                    additional roads will be added and get ID ..1, ..2, etc.
                    notice that for linking process, there the new ID's are used
                </xs:documentation>
            </xs:annotation>
            <xs:element name="adRoad" type="adRoadType" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="refRoad" type="xs:int" use="required"/>
        <xs:attribute name="s" type="xs:double" use="required"/>    
    </xs:complexType>

    <xs:complexType name="adRoadType">
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="s" type="xs:double" use="required"/>
        <xs:attribute name="angle" type="xs:double" use="required"/>
    </xs:complexType>

    <xs:complexType name="couplerType">
        <xs:sequence>
            <xs:element name="junctionArea" type="junctionAreaType" minOccurs="0"/>
            <xs:element name="connection" type="connectionType" minOccurs="0"/>
            <xs:element name="additionalLanes" type="additionalLanesType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="couplerRoundAboutType">
        <xs:sequence>
            <xs:element name="junctionArea" type="junctionAreaType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="junctionAreaType">
        <xs:sequence>
            <xs:element name="roadBorder" type="roadBorderType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="s" type="xs:double" use="required"/>   
    </xs:complexType>

    <xs:complexType name="roadBorderType">
        <xs:attribute name="id" type="xs:int" use="required"/>   
        <xs:attribute name="s" type="xs:double" use="required"/>   
    </xs:complexType>

    <xs:complexType name="connectionType">
        <xs:sequence>
            <xs:element name="roadLink" type="roadLinkType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="type" type="xs:string" use="required"/>   
    </xs:complexType>

    <xs:complexType name="roadLinkType">
        <xs:sequence>
            <xs:element name="laneLink" type="laneLinkType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
            <xs:attribute name="fromId" type="xs:int" use="required"/>
            <xs:attribute name="toId"  type="xs:int" use="required"/>
    </xs:complexType>

    <xs:complexType name="laneLinkType">
        <xs:attribute name="fromId" type="xs:int" use="required"/>
        <xs:attribute name="toId" type="xs:int" use="required"/>
        <xs:attribute name="left" type="xs:string" use="optional"/>
        <xs:attribute name="right" type="xs:string" use="optional"/>
        <xs:attribute name="middle" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="additionalLanesType">
        <xs:sequence>
            <xs:element name="additionalLane" type="additionalLaneType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="leftRight">
        <xs:restriction base="xs:string">
            <xs:enumeration value="left"/>
            <xs:enumeration value="right"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="additionalLaneType">
        <xs:attribute name="roadId" type="xs:int" use="required"/>   
        <xs:attribute name="type" type="leftRight" use="required"/>   
        <xs:attribute name="length" type="xs:double"/>   
        <xs:attribute name="amount" type="xs:int"/>   
        <xs:attribute name="verschwenkung" type="xs:boolean"/>   
    </xs:complexType> 

    <xs:complexType name="objectsType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="trafficRule" type="trafficRuleType" />
            <xs:element name="streetLamp" type="streetLampType" />
            <xs:element name="roadWork" type="roadworkType" />
            <xs:element name="busStop" type="busStopType" />
            <xs:element name="parkingSpace" type="parkingSpaceType" />
            <xs:element name="trafficIsland" type="trafficIslandType" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="relativeType">
        <xs:attribute name="s" type="xs:double" use="required"/>
        <xs:attribute name="t" type="xs:double" use="required"/>
        <xs:attribute name="z" type="xs:double" use="required"/>
        <xs:attribute name="hdg" type="xs:double" use="required"/>
    </xs:complexType>

    <xs:complexType name="repeatType">
        <xs:attribute name="s" type="xs:double" use="required"/>
        <xs:attribute name="t" type="xs:double" use="required"/>
        <xs:attribute name="z" type="xs:double" use="required"/>
        <xs:attribute name="hdg" type="xs:double" use="required"/>
        <xs:attribute name="length" type="xs:double" use="required"/>
    </xs:complexType>

    <xs:complexType name="trafficRuleType">
        <xs:sequence>
            <xs:element name="signal" type="signalType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:complexType name="signalType">
        <xs:sequence>
            <xs:element name="relativePosition" type="relativeType"/>
        </xs:sequence>
        <xs:attribute name="type" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:double" use="required"/>
        <xs:attribute name="dynamic" type="xs:boolean" use="required"/>
    </xs:complexType>

    <xs:complexType name="streetLampType">
        <xs:choice>
            <xs:element name="relativePosition" type="relativeType" />
            <xs:element name="repeatPosition" type="repeatType" />
        </xs:choice>
        <xs:attribute name="id" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:complexType name="roadworkType">
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="s" type="xs:double" use="required"/>
        <xs:attribute name="length" type="xs:double" use="required"/>
        <xs:attribute name="laneId" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:complexType name="busStopType">
        <xs:choice>
            <xs:element name="relativePosition" type="relativeType" />
            <xs:element name="repeatPosition" type="repeatType" />
        </xs:choice>
        <xs:attribute name="id" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:complexType name="parkingSpaceType">
        <xs:choice>
            <xs:element name="relativePosition" type="relativeType" />
            <xs:element name="repeatPosition" type="repeatType" />
        </xs:choice>
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="width" type="xs:double" use="required"/>
        <xs:attribute name="length" type="xs:double" use="required"/>
    </xs:complexType>

    <xs:complexType name="trafficIslandType">
        <xs:annotation>
            <xs:documentation>traffic Island always lies on reference line of a road</xs:documentation>
        </xs:annotation>
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="s" type="xs:double" use="required"/>
        <xs:attribute name="length" type="xs:double" use="required"/>
        <xs:attribute name="width" type="xs:double" use="required"/>
    </xs:complexType>

    <xs:complexType name="linksType">
        <xs:sequence>
            <xs:annotation>
                <xs:documentation>assumption: from segment is already linked to reference segment</xs:documentation>
            </xs:annotation>
            <xs:element name="segmentLink" type="segmentLinkType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="refId" type="xs:int" use="required"/>
        <xs:attribute name="xOffset" type="xs:double" use="required"/>
        <xs:attribute name="yOffset" type="xs:double" use="required"/>
        <xs:attribute name="hdgOffset" type="xs:double" use="required"/>
    </xs:complexType>

    <xs:complexType name="segmentLinkType">
        <xs:attribute name="fromSegment" type="xs:int" use="required"/>
        <xs:attribute name="toSegment"  type="xs:int" use="required"/>
        <xs:attribute name="fromRoad"  type="xs:int" use="required"/>
        <xs:attribute name="toRoad"  type="xs:int" use="required"/>
        <xs:attribute name="fromPos"  type="xs:string" use="required"/>
        <xs:attribute name="toPos"  type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="closeRoadsType">
        <xs:sequence>
            <xs:element name="segmentLink" type="segmentLinkType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>